<!DOCTYPE html>
<html lang="en" ng-app="sampleCartApp">
<head>
	<meta charset="UTF-8">
	<title> Frontend Homepage </title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">	
	<link rel="stylesheet" href="assets/stylesheets/style.css">	
	
</head>
<body ng-controller="defaultCtrl">
	<!-- HEADER AND NAVBAR -->
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
			  </button>
				<a class="navbar-brand" href="#/"><i class="fa fa-shield"></i> MEAN is awesome!</a>
			</div>
			
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li> <a href="#/"><i class="fa fa-home"></i>Home</a> </li>
					<li ng-repeat="category in categories"><a href="#/products/{{ category._id }}" > {{category.name}} </a></li>
					<!-- <li ng-repeat="category in categories"><a href="#/products/{{ category._id }}" ng-click="setActiveCategory( category )"> {{category.name}} </a></li> --> 
				</ul>
			</div>
		</div>
	</nav>
		<div >
			<div ng-view> </div>
		</div>
 <script src="../bower_components/angular/angular.min.js"> </script>
 <script src="../bower_components/angular-route/angular-route.min.js"> </script>
 <script src="assets/scripts/app.js"> </script>
 <script src="assets/scripts/directives/productGridView.js"> </script>
 <script src="assets/scripts/directives/productListView.js"> </script>
 <script src="assets/scripts/directives/loading.js"> </script>
 <script src="assets/scripts/services/products.js"> </script>
 <script src="assets/scripts/services/categories.js"> </script>
 <script src="assets/scripts/filters/filters.js"> </script>
 <script src="assets/scripts/controllers/defaultCtrl.js"> </script>
 <script src="assets/scripts/controllers/hompageCtrl.js"> </script>
 <script src="assets/scripts/controllers/productListingCtrl.js"> </script>
 <script src="assets/scripts/controllers/productDetailsCtrl.js"> </script>
</body>
</html>