<section class="product-grid-view">
	<div class="product-image-wrapper">
		 <a href=""> <img src="{{ product.images | smallImg }}" class="product-image" /> </a>
	</div>
	<p class="product-name"> <b> <a href=""> {{ product.name }} </a> </b> </p>
	<p class="price-block"> 
		<span class="price regular-price {{ product.special_price > 0? 'strickeout':'' }}"><i class="fa fa-inr"></i>{{ product.price }}</span> 
		<span class="price special-price" ng-show="product.special_price > 0"><i class="fa fa-inr"></i>{{ product.special_price }}</span> 
	</p>
</section>

