#main{
	position:relative;
}
#main .spinner{
	position:absolute;
	left:0;top:0;right:0;bottom:0;margin: auto auto;
	text-align:center;
	font-style:italic;
}
#main .spinner img{ max-width:120px;max-height:120px; height:auto;width:auto;}

.thumbnail-product{
	margin: 10px auto;
	border-bottom:1px solid #eaeaea;
	padding:5px 15px;
}
.thumbnail-product:hover{
	box-shadow:0px 0px 10px #9d9d9d;
}
.thumbnail-img-wrapper{
	position:relative;
	height:280px;
	width:100%;
}
.thumbnail-img{
	max-width:100%;max-height:280px;width:auto;height:auto;display:block;position:absolute;left:0;top:0;right:0;bottom:0;margin:auto auto;
}
.price-block{ }
.price{ margin:0 5px;}
.product-name{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
}
.price.regular-price.strickeout{     text-decoration: line-through; }