 <div class="container">
	<div class="jumbotron text-center">
		<h1 class="product-name"> {{ product.name }} </h1>
		
	</div>
</div>

<loader></loader>
<div class="product-details-page" ng-hide="loading">
	<div class="container" ng-init="product = { images:[] }">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
	
				<div data="product.images" slick-slider="{dots: false, arrows: false, draggable: true, slidesToShow:1, infinite:false}" slider-product-view >
					<div class="product-image-wrapper" ng-repeat="image in product.images" on-finish-render-filters>
						<a href="#/products/{{activeCategory._id}}/{{product._id}}/fullmode" > <img ng-src="{{ image.url }}" class="product-image"  /> </a>
					</div>
				</div>

				<!-- <h1>activeSlide : {{ activeSlide }}</h1>  -->

				 <div class="thumbnail-view clearfix" data="product.images" slick-slider="{dots: false, arrows: true, draggable: false, slidesToShow:4, slidesToScroll:4, infinite:false, responsive: [{ breakpoint: 1170, settings: { slidesToShow: 4, slidesToScroll: 4 } }, { breakpoint: 992, settings: { slidesToShow: 3, slidesToScroll: 3 } }, { breakpoint: 768,  settings: { slidesToShow: 3, slidesToScroll: 3 } }, { breakpoint: 480, settings: { slidesToShow: 1,  slidesToScroll: 1 } } ] }" auto-slide-thumb >
					<div class="product-wrapper" ng-repeat="image in product.images" >
						<div class="thumbnail-box">
							<a href="" class="{{ activeSlide === $index?'active':''}}" ng-click="switchThumbView( $index )" ><img ng-src="{{ image.url }}" /></a>
						</div>
					</div>
				</div> 
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<p class="product-name"> <b> <a href="#/products/{{activeCategory._id}}/{{product._id}}"> {{ product.name }} </a> </b> </p>		
				<p>
					<div class="average-rating" ng-controller="ratingController as rating">
							<!-- <div star-rating ng-model="rating.rating1" max="10" on-rating-select="rating.rateFunction(rating)"></div> -->
							<!-- <div star-rating ng-model="rating.rating2" readonly="rating.isReadonly" on-rating-select="rating.rateFunction(rating)"></div> -->
							<!-- <label>
								<input type="checkbox" ng-model="rating.isReadonly"/>
								Is Readonly
							</label>

							<div><strong>Rating 1:</strong> {{rating.rating1}}</div>
							<div><strong>Rating 2:</strong> {{rating.rating2}}</div> -->
							<div star-rating ng-model="rating.rating2" readonly="true" on-rating-select="rating.rateFunction(rating)"></div>
					</div>
				</p>
				<p class="price-block"> 
					<span class="price regular-price {{ product.special_price > 0? 'strickeout':'' }}"><i class="fa fa-inr"></i>{{ product.price }}</span> 
					<span class="price special-price" ng-show="product.special_price > 0"><i class="fa fa-inr"></i>{{ product.special_price }}</span> 
				</p>
				<div class="form-group"> 
					Quantity : <input type="number" style="width:72px;" class="form-control" value="1" />
				</div>
				<p class="descritpion">
					{{ product.description }}
				</p>

				<p>
					<button class="btn btn-primary"> <i class="fa fa-shopping-cart"></i> Add To Cart </button> 
					<button class="btn btn-primary"><i class="fa fa-heart"></i> Add To Wishlist </button>
					<button class="btn btn-primary"><i class="fa fa-signal"></i> Add To Compare </button>
				</p>
				
				
			</div>
		</div>
	</div>
	<div class="container">
		<a href="#/products/{{activeCategory._id}}/" class="pull-right"> Go Back </a>
	</div>
</div>
