 <div class="container">
	<div class="jumbotron text-center">
		<h1> {{ product.name }} </h1>
	</div>
</div>

<loader></loader>
<div class="product-details-page" ng-hide="loading">
	<div class="container" ng-init="product = { images:[] }">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
	
				<div data="product.images" slick-slider="{dots: false, arrows: false, draggable: true, slidesToShow:1, infinite:false}" slider-product-view >
					<div class="product-image-wrapper" ng-repeat="image in product.images" on-finish-render-filters>
						<a href=""> <img ng-src="{{ image.url }}" class="product-image" /> </a>
					</div>
				</div>

				<!-- <h1>activeSlide : {{ activeSlide }}</h1>  -->

				 <div class="thumbnail-view clearfix" data="product.images" slick-slider="{dots: false, arrows: true, draggable: false, slidesToShow:4, infinite:false}" >
					<div style="height:85px;"  ng-repeat="image in product.images" >
						<div class="thumbnail-box">
							<a href="" class="{{ activeSlide === $index?'active':''}}" ng-click="switchThumbView( $index )" ><img ng-src="{{ image.url }}" /></a>
						</div>
					</div>
				</div> 
			</div>
			<div class="col-md-8 col-sm-8 col-xs-12">
				<p class="product-name"> <b> <a href="#/products/{{activeCategory._id}}/{{product._id}}"> {{ product.name }} </a> </b> </p>		
				<p class="price-block"> 
					<span class="price regular-price {{ product.special_price > 0? 'strickeout':'' }}"><i class="fa fa-inr"></i>{{ product.price }}</span> 
					<span class="price special-price" ng-show="product.special_price > 0"><i class="fa fa-inr"></i>{{ product.special_price }}</span> 
				</p>
				<div class="form-group"> 
					Quantity : <input type="number" ng-model="product.quantity" style="width:80px;" class="form-control" />
				</div>
				<p class="descritpion">
					{{ product.description }}
				</p>

				<p><button class="btn btn-primary"> Add to Cart </button></p>
				<p><button class="btn btn-primary"> Add to Wishlist </button></p>
				
				<a href="#/products/{{activeCategory._id}}/" class="pull-right"> Go Back </a>
			</div>
		</div>
	</div>
</div>
