<div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="name"> Set Name : </label>
				<input type="text" name="name" id="name" class="form-control" ng-model="set.name">
			</div>	
		</div>	
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">  Attributes Available </div>
				<div class="panel-body">
					<ul style="margin:0;padding:0;list-style:none;">
						<li ng-repeat="item in attributesAvailable | orderBy:'label' " > 
							<label class="input"> <input type="checkbox" ng-change="sync(bool, item)" ng-model="bool" ng-checked="isChecked(item._id)"> <span class="">{{ item.label }}</span> </label>
						</li>
					</ul>
				</div>
			  </div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">  Attributes Selected </div>
				<div class="panel-body"> 
					<ul style="margin:0;padding:0;list-style:none;">
						<li ng-repeat="item in set.attributes | orderBy:'label'" > <label class="input"> <span class="">{{ item.label }}</span> </label>  </li>
					</ul> 
				</div>
			  </div>				
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			  <h3>Final Data Array</h3>
			  <pre>{{ set.attributes | json}}</pre>
		</div>
		<div class="col-md-6">
			  <h3>All Checkboxes Array</h3>
			  <pre>{{ attributesAvailable | json}}</pre>
		</div>
	</div>
</div>