<div class="container">
	<div class="jumbotron text-center">
		 <h1> <i class="fa fa-wrench"></i> {{ message }} </h1>
	</div>
</div>

<loader></loader>
<div class="attribute-page" ng-hide="loading">
	<div class="container" >
		
		<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"> {{ deleteCount }} {{alert.msg}}</uib-alert>
		<table class="table table-striped" ng-show="attributes.length>0">
			<thead>
				<tr>
					<th> <input type="checkbox" ng-model="selectAll" ng-click="checkAll()"  /> </th>
					<th > Attribute Name </th>
					<th > Attribute Code </th>
					<th > Component Type </th>
					<th> </th>
				</tr>
			</thead> 
			<tbody>
				<tr ng-repeat="at in attributes">
					<td> <input type="checkbox" ng-model="at.selected" ng-click="checkIndividual()" /> </td>
					<td> {{ at.label }} </td>
					<td> {{ at.code }} </td>
					<td> {{ at.type }} </td>
					<td> <a href="#/attributes/{{at._id}}"> View </a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container">
		<a class="btn btn-primary" href="#/attributes/add-new"> <i class="fa fa-plus"></i> Add New </a>
		<button class="btn btn-danger" ng-disabled="!showDelete" ng-click="deleteAttributes()"> <i class="fa fa-trash"></i> Delete </button>
	</div>
</div>
