<div class="container">
	<div class="jumbotron text-center">
		 <h1> <i class="fa fa-tags"></i> Edit Category {{ currentCategory }}  </h1>
	</div>
</div>

<div class="container">
	<div class="alert alert-success" ng-show="updationSuccess">
	  <strong>Success!</strong> Category updated successfully!
	</div>
	<form ng-submit="updateCategory( category )" method="POST" role="form">
		<category></category>
		<button type="submit" class="btn btn-primary"> <i class="fa fa-floppy-o"></i> Update </button>
		<a href="#categories" class="pull-right">Go Back</a>
	</form>
</div>